<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Dynamic Keyboard POC</title>
</head>
<body>
  <main id="app">
    <section class="title container max-width">
      <div class="columns">
        <div class="column">
          <h1 class="title has-text-centered">Dynamic Keyboard</h1>
          <h5 class="title has-text-centered is-size-5">Front-end version with plaintext pins and dynamic keyboard</h5>
          <h5 class="title has-text-centered is-size-6">
            <strong>Your session expires at: </strong>
            <span v-if="sessionExpiration">{{Date(sessionExpiration)}}</span>
            <a class="ml-3" @click="getKeyboardMap()">Refresh</a>
          </h5>
        </div>
      </div>
    </section>
    <section id="inputs" class="container is-flex is-align-content-center is-align-items-center is-justify-content-center">
      <div class="columns">
        <div class="column">
          <input type="password" class="input is-rounded" name="pin" id="pin" placeholder="PIN" :value="inputPin" disabled/>
        </div>
        <div class="column">
          <button type="button" class="button is-primary mr-2" @click="sendPin" :disabled="inputPin.length === 0">Submit</button>
          <button type="button" class="button is-warning is-light" @click="resetPin" :disabled="inputPin.length === 0">Reset</button>
        </div>
      </div>
    </section>
    <section v-if="keyboardMap" id="keyboard" class="container is-flex is-align-content-center is-align-items-center is-justify-content-center">
      <div class="columns">
        <div class="column mt-4">
          <button type="button" class="button is-link mr-3 is-rounded" @click="makePermutation(keyboardMap[0])">{{ keyboardMap[0].join(' ou ') }}</button>
          <button type="button" class="button is-link mr-3 is-rounded" @click="makePermutation(keyboardMap[1])">{{ keyboardMap[1].join(' ou ') }}</button>
          <button type="button" class="button is-link mr-3 is-rounded" @click="makePermutation(keyboardMap[2])">{{ keyboardMap[2].join(' ou ') }}</button>
          <button type="button" class="button is-link mr-3 is-rounded" @click="makePermutation(keyboardMap[3])">{{ keyboardMap[3].join(' ou ') }}</button>
          <button type="button" class="button is-link mr-3 is-rounded" @click="makePermutation(keyboardMap[4])">{{ keyboardMap[4].join(' ou ') }}</button>
        </div>
      </div>
    </section>
    <section>
      <div class="has-text-centered mt-4">
        <h3 class="title is-3 column is-12">Possibilities: {{possibilities.length}} (pin length: {{inputPin.length}})</h3>
        <span>Time to compute: {{elapsedTime}} ms</span>
      </div>
      <div class="columns mt-2">
        <pre class="column is-offset-3 is-6 has-text-centered">{{possibilities.length <= 2**13 ? possibilities : 'Too many possibilities to display'}}</pre>
      </div>
    </section>
  </main>
</body>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<script type="module">
  import { createApp } from 'vue'

  createApp({
    data() {
      return {
        possibilities: [],
        inputPin: '',
        elapsedTime: 0,
        sessionExpiration: null,
        keyboardMap: null
      }
    },
    async created() {
      this.getKeyboardMap()
    },
    methods: {
      async getKeyboardMap() {
        const config = await fetch('/config')
        if (config.ok) {
          const {map, expirationDate} = await config.json()
          this.keyboardMap = map
          this.sessionExpiration = expirationDate
        }
      },
      async sendPin() {
        const result = await fetch('/api/check', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({possibilities: this.possibilities})
        })

        if (result.ok) {
          const {user} = await result.json()
          if(user) return alert(`Pin found! Welcome ${user}`)
          alert('Pin not found')
        } else {
          alert(`Error: ${result.status} -> ${(await result.json()).error}`)
        }
      },
      makePermutation(currentPossibilities) {
        const startTime = performance.now()
        this.inputPin += '*'
        if (this.possibilities.length === 0) {
          this.possibilities = currentPossibilities
          return
        }

        const newPossibilities = []
        for (const possibility of this.possibilities) {
          for (const currentPossibility of currentPossibilities) {
            newPossibilities.push(String(possibility) + String(currentPossibility))
          }
        }
        this.possibilities = newPossibilities
        const endTime = performance.now()
        this.elapsedTime = (endTime - startTime)
      },
      resetPin() {
        this.inputPin = ''
        this.possibilities = []
        this.elapsedTime = 0
      }
    }
  }).mount('#app')
</script>
</html>
